<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Category ID</th>
      <th>Transaction Type ID</th>
      <th>Amount</th>
      <th>Description ID</th>
      <th>Payment Method ID</th>
      <th>Datetime</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.user_id }}</td>
      <td>{{ transaction.category_id }}</td>
      <td>{{ transaction.transaction_type_id }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.description_id }}</td>
      <td>{{ transaction.payment_method_id }}</td>
      <td>{{ transaction.datetime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>