<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Balance and Cards</h5>

                    <!-- Your Balance Card -->
                    <div class="card mt-3">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Your Balance</h6>
                            <p class="card-text">Current balance: {{ current_balance }}</p>
                            <p class="card-text">Total income this month: {{ total_income }}</p>
                            <p class="card-text">Total expenses this month: {{ total_expense }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if cards %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-muted">Card 2</h6>
                    <p class="card-text">Card balance: COUNT</p>
                    <p class="card-text">Credit limit: COUNT / MAX_COUNT </p>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>
