{% extends 'base.html' %}

{% block content %}
    <h1>Add a new transaction</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}


        <div class="form-group">
            <label for="category">Transaction category: </label>
            <select class="form-control" id="category" name="category">
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="transaction_type">Transaction type</label>
            <select class="form-control" id="transaction_type" name="transaction_type">
                {% for type in transaction_types %}
                <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="amount">Сума:</label>
            <input type="number" class="form-control" id="amount" name="amount">
        </div>

        <div class="form-group">
            <label for="description">Опис:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>

        <div class="form-group">
            <label for="payment_method">Payment method</label>
            <select class="form-control" id="payment_method" name="payment_method">
            {% for method in payment_methods %}
                <option value="{{ method }}">{{ method }}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="payment_method">Budgets</label>
            <select class="form-control" id="budgets" name="budgets">
            {% for budget in budgets %}
                <option value="{{ budget }}">{{ budget }}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="datetime">Дата та час:</label>
            <input type="datetime-local" class="form-control" id="datetime" name="datetime">
        </div>

        <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>
{% endblock %}
