<div class="d-flex flex-column flex-shrink-0" style="width: 4.5rem;" bis_skin_checked="1">
  <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <span class="material-symbols-outlined">
      wallet
      </span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link py-3" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <span class="material-symbols-outlined">
          home
          </span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
        <span class="material-symbols-outlined">
          receipt_long
          </span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
        <span class="material-symbols-outlined">
          pie_chart
          </span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
        <span class="material-symbols-outlined">
          category
          </span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
        <span class="material-symbols-outlined">
          manage_accounts
          </span>
      </a>
    </li>
  </ul>
</div>