{% load static %}

<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;" bis_skin_checked="1">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <svg class="bi" width="40" height="32">
        <image xlink:href="{% static 'img/icons/home.png' %}" x="0" y="0" width="40" height="32" />
      </svg>
      <span class="visually-hidden">Icon-only</span>
    </a>

  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
       <svg class="bi" width="16" height="16">
        <image xlink:href="{% static 'img/icons/business.png' %}" x="0" y="0" width="40" height="32" />
      </svg>
      </li>
  </ul>

  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
       <svg class="bi" width="16" height="16">
        <image xlink:href="{% static 'img/icons/wallet.png' %}" x="0" y="0" width="40" height="32" />
      </svg>
      </li>
  </ul>

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
       <svg class="bi" width="16" height="16">
        <image xlink:href="{% static 'img/icons/transaction.png' %}" x="0" y="0" width="40" height="32" />
      </svg>
      </li>
  </ul>

</div>