<div>
  <ul>
        <h5>Accounts</h5>
        <ul class="accounts-list">
          {% for account in accounts %}
          <li>{{ account.name }}</li>
          {% endfor %}
        </ul>
        <div class="add-another">
          <a href="#">Add another</a>
        </div>


      <h5>Categories</h5>
      {% for category in categories %}
      <div class="category-list {{ category }}}">
          <td scope="row">{{ category.name }}</td>
      </div>
      {% endfor %}
        <div class="more-categories">
          <a href="#">+5 more</a>
      </div>
  </ul>


</div>
