<div>
  <ul>

    <h5>Accounts</h5>
    <div class="account-list">
      {% for account in accounts %}
        <li>{{ account }}</li>
      {% endfor %}
    </div>
    <a hx-get="{% url 'finance:add_account' %}" hx-target="#dialog">
        Add an account
    </a>

    <h5>Categories</h5>
    <div class="category-list">
      <ul>
        {% for category in categories %}
          <li>{{ category.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="more-categories">
      <a href="#">+5 more</a>
    </div>
  </ul>
</div>
