{% load static %}


<div class="monthly-overview">
  <h1 class="monthly-header">Monthly overview</h1>
  <div class="total-cards">
    <div class="expense-card">
      <h1 class="card-header">Expense</h1>
      <img class="card-image" src="{% static 'img/dashboard/income.png' %}" alt="income">
      <h1 class="month-expense-total">-250$</h1>
      <h1 class="daily-expense-total">-25.55</h1>
    </div>
    <div class="income-card">
      <h1 class="card-header">Income</h1>
      <img class="card-image" src="{% static 'img/dashboard/expenses.png' %}" alt="expenses">
      <h1 class="month-income-total">+550$</h1>
      <h1 class="daily-income-total">+25.55</h1>
    </div>
  </div>
</div>



<div class="summary-expense">
  <h3>Expenses by category</h3>
  <div class="expense-cards">
    <div class="card-1">
      <span class="name">
        Food
      </span>
      <div class="info">
        <span class="total-count">
          133.95$
        </span>
        <span class="percent">
          55%
        </span>
      </div>
    </div>
    <div class="card-2">
    </div>
    <div class="card-3">
    </div>
  </div>
</div>


</div>






