<table class="table table-striped">
  <thead style="display: none;">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Create at</th>
    </tr>
  </thead>
  <tbody>
{% for transaction in transactions %}
    <tr>
      <div class="transactions">
        <div class="transaction-icon">
          <span class="material-symbols-outlined">
            phone_iphone
          </span>
        </div>
        <div>
          <ul class="transaction-title">
            {{transaction.category}}
          </ul>
          <ul class="transaction-data">
            {{transaction.created_at}}
          </ul>
        </div>
        <div class="transaction-price">
          {{transaction.amount}}
        </div>
      </div>
    </tr>
{% endfor %}
  </tbody>
</table>