{% extends 'base.html' %}

{% block container-fluid %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/transactions.css' %}">

<div class="my-4">
  <button type="button" class="btn btn-success me-2"
      hx-get="{% url 'finance:create-transaction' %}"
      hx-target="#transaction-forms"
      hx-swap="beforeend">+ Add form</button>
  <button type="button" class="btn btn-primary" id="submit-all">Sumbit all</button>
</div>

<div id="transaction-forms">
      {% include 'transactions/form.html' %}
</div>


{% endblock %}

